<div class="row">
<aside class="span4">
  <section>

    <%= form_for(@practice) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
	    <div class = "field">
		  <%= f.label "Craft" %>		
	      <%= f.select :craft_id,  Craft.all.map{ |x| [x.name, x.id]  }%>
	    </div>
	    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
		<% end %>
  </section>
</aside>
</div>   